@import 'styles/global.styl';
@import 'templates/people-card/people-card.styl';
@import 'views/leaders/leaders.styl'
@import 'views/vote/vote.styl'
@import 'views/chart/chart.styl'
@import 'views/activity/activity.styl'
@import 'views/diagram/diagram.styl'